/// Main Styles File
/// Here we import all the global Styles files we need for our project.

@import "styles/normalize.scss";
@import "styles/root.scss";
@import "styles/fonts.scss";

$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;


body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-primary);
}

p {
  color: var(--color-on-surface);
}


//DESKTOP VIEW
@media (min-width: #{$desktop}) {
  .main-page {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }

  .data-entry {
    flex: 0 0 39.44%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

    & &_logo {
      margin-left: 64px;
      display: flex;
      margin-top: 64px;
      margin-bottom: 110.75px;
    }

    & &_title {
      color: #0D1016;
      width: 200px;
      font-size: 40px;
      font-family: 'Roboto', sans-serif;
      line-height: 40px;
      font-weight: 600;
      letter-spacing: -3%;
      align-items: center;
      margin-bottom: 48px;
      margin-left: 64px;
    }

    & &_form {
      display: flex;
      flex-direction: column;
      margin-left: 64px;
      margin-right: 64px;
      width: 100%;
      gap: 14px;
    }

    & &_form_bottom {
      display: flex;
      flex-direction: row;
      gap: 14px;
    }

    button {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 56px;
      margin-top: 18px;
      margin-right: 128px;
      border-radius: 18px;
      background: #2162E3;
      border: none;
      color: white;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: -3%;
      font-weight: 600;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
    }

    button:hover {
      background: #3A78F4;
    }

    button:active {
      background: #1957D5;
    }
  }

  .placeholder {
    position: relative;
    color: #AEB5C4;
    font-size: 12px;
    letter-spacing: -3%;
    position: absolute;
    margin-left: 24px;
    margin-top: 12px;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
  }

  .placeholder.visible {
    opacity: 1;
  }


  input {
    border: 1px solid #DADFE9;
    border-radius: 18px;
    height: 43px;
    width: 77.46%;
    // padding: 12px 0 0 24px;
    align-items: center;
    padding: 12px 0 0 24px;
  }

  input::placeholder {
    padding: 12px 0 0 0;
  }

  input:hover {
    border: 1px solid #ABB5C8;
  }

  label[for="cvvInput"] {
    margin-left: 21.5%;
  }

  input[type="number"][name="cvv"] {
    width: 27%;
  }

  input[type="number"][name="date"] {
    width: 45%;
  }

  .photo {
    flex: 0 0 60.56%;
    height: 100%;
    background-color: #F8FAFF;

    & &_card-front {
      position: absolute;
      display: flex;
      top: 28.86%;
      right: 18.46%;

    }

    & &_card-back {
      position: absolute;
      display: flex;
      top: 20.56%;
      right: 1.68%;
    }
  }
}

//TABLET VIEW
@media (min-width: #{$tablet}) and (max-width: 1023px) {
  .home-page {
    display: flex;
  }

  .main-page {
    height: 51.07%;
  }

  .data-entry {
    display: flex;
    flex: 0 0 48.07%;
    flex-direction: column;
    align-self: flex-end;
    margin-left: auto;
    margin-right: auto;

    & &_logo {
      display: flex;
      margin-top: 48px;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
    }

    & &_title {
      position: absolute;
      display: flex;
      transform: translateX(-50%);
      left: 50%;
      top: 674px;
      text-align: center;
      font-size: 40px;
      font-family: 'Roboto', sans-serif;
      line-height: 110%;
      letter-spacing: -3%;
      font-weight: 600;
      width: 252px;
    }

    & &_form {
      margin-top: 742px;
      display: flex;
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 100px;
      width: 52.76%;
      gap: 14px;
    }

    & &_form_bottom {
      display: flex;
      flex-direction: row;
      gap: 14px;
      width: 100%;
    }
  }

  button {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    height: 56px;
    margin-top: 18px;
    // margin-right: 128px;
    border-radius: 18px;
    background: #2162E3;
    border: none;
    color: white;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -3%;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
  }

  button:hover {
    background: #3A78F4;
  }

  button:active {
    background: #1957D5;
  }

  .placeholder {
    position: relative;
    color: #AEB5C4;
    font-size: 12px;
    letter-spacing: -3%;
    position: absolute;
    // margin-left: 24px;
    // margin-top: 12px;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
  }

  .placeholder.visible {
    opacity: 1;
  }


  input {
    border: 1px solid #DADFE9;
    border-radius: 18px;
    height: 43px;
    align-items: center;
    padding: 12px 0 0 24px;
  }

  input::placeholder {
    padding: 12px 0 0 0;
  }

  input:hover {
    border: 1px solid #ABB5C8;
  }

  label[for="cvvInput"] {
    display: flex;
    margin-top: 12px;
    margin-left: 32%;
  }

  input[type="number"][name="cvv"] {
    width: 165px;
  }

  input[type="number"][name="date"] {
    width: 261px;
  }

  .photo {
    background: #F8FAFF;
    position: absolute;
    top: 0;
    width: 100%;
    height: 574px;
    z-index: -1;

    & &_card-front {
      display: flex;
      position: absolute;
      width: 426px;
      height: 280px;
      margin-top: 173px;
      margin-left: 13.48%;
      margin-right: 35.15%;
      margin-bottom: 9.88%;
    }

    & &_card-back {
      display: flex;
      position: absolute;
      width: 426px;
      height: 280px;
      margin-top: 120px;
      margin-left: 35.13%;
      margin-right: 13.68%;
      margin-bottom: 14.25%;
    }
  }
}


//MOBILE VIEW
@media (min-width: 0px) and (max-width: #{$tablet}) {

  .home-page {
    display: flex;
  }

  .main-page {
    // height: 51.07%;
  }

  .data-entry {
    display: flex;
    flex: 0 0 48.07%;
    flex-direction: column;
    align-self: flex-end;
    margin-left: auto;
    margin-right: auto;

    & &_logo {
      display: flex;
      margin-top: 32px;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
    }

    & &_title {
      position: absolute;
      display: flex;
      margin-left: 16px;
      top: 404px;
      font-size: 24px;
      font-family: 'Roboto', sans-serif;
      line-height: 26px;
      letter-spacing: -3%;
      font-weight: 600;
      width: 151px;
    }

    & &_form {
      margin-top: 440px;
      display: flex;
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
      width: 91.47%;
      gap: 14px;
    }

    & &_form_bottom {
      display: flex;
      flex-direction: row;
      gap: 14px;
      width: 100%;
    }
  }

  button {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    height: 56px;
    margin-top: 18px;
    border-radius: 18px;
    // background: #2162E3;
    border: none;
    color: white;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -3%;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    font-style: normal;

    &:disabled {
      background: #EBEFF5;
    }
  }

  button:hover {
    background: #3A78F4;
  }

  button:active {
    background: #1957D5;
  }

  .placeholder {
    position: relative;
    color: #AEB5C4;
    font-size: 12px;
    letter-spacing: -3%;
    position: absolute;
    margin-left: 24px;
    margin-top: 12px;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
  }

  .placeholder.visible {
    opacity: 1;
  }


  input {
    border: 1px solid #DADFE9;
    border-radius: 18px;
    height: 43px;
    // padding: 12px 0 0 24px;
    align-items: center;
    padding: 12px 0 0 24px;
  }

  input::placeholder {
    padding: 12px 0 0 0;
  }

  input:hover {
    border: 1px solid #ABB5C8;
  }

  label[for="cvvInput"] {
    display: flex;
    margin-left: 63.5%;
  }

  input[type="number"][name="cvv"] {
    width: 32%;
  }

  input[type="number"][name="date"] {
    width: 55.73%;
  }

  .photo {
    background: #F8FAFF;
    // background: red;
    position: absolute;
    top: 0;
    width: 100%;
    height: 372px;
    z-index: -1;

    & &_card-front {
      display: flex;
      position: absolute;
      // width: 426px;
      // height: 280px;
      height: 156.37px;
      width: 239.43px;
      margin-top: 132px;
      margin-left: 4.48%;
      margin-right: 35.15%;
      margin-bottom: 9.88%;
    }

    & &_card-back {
      display: flex;
      position: absolute;
      height: 156.37px;
      width: 239.43px;
      margin-top: 103px;
      margin-left:31.65%;
      margin-right: 4.74%;
      margin-bottom: 30.17%;
    }
  }
}